img{
    width: 100%;
}

.image{
    width: 23%;
    display: inline-block;
    margin-top: 15%;

}

.image:hover{
    animation: animation 1.5s;
}

.moveLeft{
    margin-left: 15%;
}

@keyframes animation{
    0% {transform: scale(1,1);}
    25% {transform: scale(1.5,1.5);}
    100% {transform: scale(1,1);}
}