img{
    width: 100%;
}

.image{
    width: 23%;
    display: inline-block;
    margin-top: 15%;
    transition: all 1s linear;
}

.image:hover{
    transform: scale(1.5,1.5);
    transition: all 1s linear;
}

.moveLeft{
    margin-left: 15%;
}

